<!DOCTYPE html>
<html>
	<head>
		<title>
			{{ page.title }}
		</title>
	</head>

	<style type="text/css">
		pre { text-align: left; background-color: black; color: white; padding-left:6px}
	</style>

	<body>
	<div style="background-image:url(rc/back.png); background-repeat:repeat-y; width:900px; margin-left:auto; margin-right:auto;">
		{{ content }}

		{% for section in site.posts %}
			<h1 style="background-color:#0193bd; text-align:center">{{ section.title }}</h1>
			<div style="padding-left:6px; padding-right:6px">{{ section.content }}</div>
		{% endfor %}
	</div>
	</body>
</html>
